.click-btn {
  cursor: pointer;
  font-size: 18px;
}

.play-container {
  padding: 1em;
  border: 1px solid lightgrey;
  margin-bottom: 1em;

  input {
    padding: 1em;
    margin-bottom: 2em;
  }
}
